// Global.

:root {
    --block-code-background: rgba(0, 0, 0, 0.05);
    --block-quote-background: rgba(0, 0, 0, 0.05);
    --code-color: #000;
    --code-font-family: Consolas, "Source Code Pro", monospace;
    --control-font: 14px "Myriad Pro", "Source Sans Pro", "Segoe UI", sans-serif;
    --inline-code-background: rgba(0, 0, 0, 0.05);
    --logo-font: 24px "Myriad Pro", "Source Sans Pro", "Segoe UI", sans-serif;
    --nav-background: #666;
    --nav-link-color: #eee;
    --nav-link-hover-background: #888;
    --nav-text-color: #eee;
    --sidebar-width: 240px;
    --splitter-background: rgba(18, 94, 145, 0.618);
    --text-background: #fff;
    --text-font: 16px "Libertinus Serif", "Linux Libertine", "Minion Pro", "Source Serif Pro", serif;
    --text-font-mobile: 14px "Libertinus Serif", "Linux Libertine", "Minion Pro", "Source Serif Pro", serif;
    --text-link-color: rgb(22, 70, 201);
    --text-link-visited-color: #d7d;
    --text-max-width: 960px;
    --toc-min-height: 240px;
    background-color: #222;
    font: var(--text-font-mobile)
}

body {
    margin: 0;
}

// Navigation.

nav {
    background-color: var(--nav-background);
    color: var(--nav-text-color);
    display: flex;
    font: var(--control-font);
    overflow: auto;

    a:link {
        color: inherit;
        padding: 0.25em 0.5em;
        text-decoration: none;
    }

    a:visited {
        color: inherit;
    }

    a:hover {
        background-color: var(--nav-link-hover-background);
        color: var(--nav-link-color);
    }

    ul {
        list-style-type: none;
    }

    // Logo.

    > :first-child {
        margin-right: auto;

        > a {
            display: block;
            font: var(--logo-font);
            padding: 0.5em;
        }
    }

    // Links.

    > :nth-child(2) {
        display: flex;
        flex-direction: inherit;
        margin: 0;
        padding: 0;

        > li {
            display: flex;
            flex-direction: inherit;

            > a {
                display: flex;
                align-items: center;
            }
        }
    }

    // Table of contents.

    > :last-child {
        display: none;
    }
}

@media screen and (min-width: 640px) {
    :root {
        font: var(--text-font);
    }

    aside {
        display: flex;
        height: 100%;
        position: fixed;
        width: var(--sidebar-width);

        > nav {
            flex: 1;
            flex-direction: column;

            > :first-child {
                margin-right: 0;
            }

            > :nth-child(2) {
                margin-top: 1em;
            }

            > :last-child {
                display: block;
                flex: 1;
                margin: 1em 0 0 0;
                min-height: var(--toc-min-height);
                overflow: auto;
                padding: 0;

                a {
                    flex: 1;
                    padding-left: 0;
                }

                summary {
                    align-items: baseline;
                    display: flex;
                }

                summary::before {
                    content: "·";
                    text-align: center;
                    width: 1.5em;
                }

                summary:not(:only-child)::before {
                    content: "⏵";
                }

                details[open] > summary:not(:only-child)::before {
                    content: "⏷";
                }

                summary::marker, summary::-webkit-details-marker {
                    display: none;
                }

                summary:hover {
                    background-color: var(--nav-link-hover-background);
                }

                ul {
                    padding-left: 1em;
                }
            }
        }

        // Splitter.

        > div {
            cursor: col-resize;
            margin-left: -3px;
            margin-right: -3px;
            width: 6px;
            z-index: 1;
        }

        > div:hover {
            background: var(--splitter-background);
        }

        + main {
            margin-left: var(--sidebar-width);
        }
    }

    main {
        padding: 1em;
    }
}

article {
    background-color: var(--text-background);
    box-sizing: border-box;
    margin: auto;
    max-width: var(--text-max-width);
    padding: 1em 2em;
    overflow: hidden;
}

a:link {
    color: var(--text-link-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: var(--text-link-visited-color);
}

blockquote, pre {
    overflow: auto;
}

blockquote {
    background: var(--block-quote-background);
    padding: 0 1em;
    margin-inline: 2em;
}

code {
    background: var(--inline-code-background);
    color: var(--code-color);
    font-family: var(--code-font-family);
}

pre {
    background: var(--block-code-background);
    padding: 1em;

    code {
        background: none;
    }
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;

    a:link, a:visited {
        color: inherit;
    }
}

h1 {
    font-size: 1.500em;
}

h2 {
    font-size: 1.402em;
}

h3 {
    font-size: 1.310em;
}

h4 {
    font-size: 1.225em;
}

h5 {
    font-size: 1.145em;
}

h6 {
    font-size: 1.070em;
}

img {
    max-width: 100%;
}

ol, ul {
    padding-inline-start: 2em;
}

table {
    border-bottom: 2px solid;
    border-collapse: collapse;
    border-top: 2px solid;
    margin: 1em auto;
}

thead {
    border-bottom: 1px solid;
}

td, th {
    padding: 0 0.5em;
    text-align: start;
}

@import "rouge";
